@import 'tailwindcss';

@font-face {
  font-family: lausanne-regular;
  src: url(../public/fonts/Lausanne-300.woff2);
}

@font-face {
  font-family: lausanne-medium;
  src: url(../public/fonts/Lausanne-500.woff2);
}

@theme inline {
  --font-lausanne-regular: lausanne-regular;
  --font-lausanne-medium: lausanne-medium;
  --color-primary: #d3fd50;
}

html::selection {
  background-color: var(--color-primary);
  color: black;
}

@layer utilities {
  .nav-link {
    @apply relative w-full cursor-pointer border-t uppercase;
  }

  .nav-link:last-of-type {
    @apply border-b;
  }

  .nav-marquee {
    @apply bg-primary absolute flex h-full w-full flex-nowrap gap-4 overflow-auto text-black!;
  }

  .nav-marquee-item {
    @apply flex w-full items-center gap-2 px-2;
  }

  .nav-marquee-item > h2 {
    @apply pt-8 text-[8vw] leading-[0.8em] whitespace-nowrap;
  }

  .nav-link > h2 {
    @apply pt-8 text-[8vw] leading-[0.8em] whitespace-nowrap;
  }

  .nav-link .nav-marquee-item > img {
    @apply h-[6vw] w-[12vw] rounded-full object-cover;
  }
}

.moveX {
  animation-name: marquee-animation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveXReverse {
  animation-name: marquee-animation-reverse;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.moveLink {
  opacity: 0;
  transition: all ease 0.3s;
}

.link:hover .moveLink {
  opacity: 1;
}

@keyframes marquee-animation {
  from {
    transform: translate3d(0,0,0);
  }
  to {
    transform: translate3d(-100%,0,0);
  }
}

@keyframes marquee-animation-reverse {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0%, 0, 0);
  }
}

